<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <select name="topic" id="topic">
                {% for to in topics %}
                    <option value="{{to}}">{{to.topic_name}}</option>
                {% endfor %}    
                </select>
                <br></br>
                        
                        <label value="na">name</label>
                        <input type="text" name="na" id="na"><br></br>
                        <label for="ul">url</label>
                        <input type="text" name="ul"  id="ul"><br><br>
                        <input type="submit" name="insert_webpage">

        </form>
    </center>
</body>
</html>